.clickable-row:hover {
    background-color: lightgray;
    cursor: pointer;
}

.clickable-row td {
    vertical-align: inherit !important;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 60px;
}

#locale {
    color: #000000;
}

#login-form {
    min-height:50%
}

#main-container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.inner-container.container {
    width: 80%;
    padding-top: 3%;
}

.btn {
    margin: 10px;
}

.alert.alert-danger {
    text-align: center;
    display: table;
    margin: 10px auto;
}
